<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>API_KEY</key>
    <string>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</string>
</dict>
</plist>
